<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
<title>Gadget_服务器内部错误</title>
<link rel="shortcut icon" href="/img/error.ico">
  <link rel="stylesheet" href="/css/500.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Thanks to @xontab -->
<div id="page">
		<div id="container">
			<h1>:(</h1>
			<h2>你的网页遇到了一些问题，系统正在优化和上报故障信息，我们在未来将改善和减少这种情况的发生.</h2>
			<h2>完成 <span id="percentage">0</span>%</h2>
			<div id="details">
				<div id="qr">
					<div id="image">
						<img src="./img/erweima.jpg" alt="QR Code" />
					</div>
				</div>
				<div id="stopcode">
					<h5 style="font-size: 16px;"><br>500 Internal Server Error 服务器由于未知原因无法处理该请求</h5>
					<h5 style="font-size: 16px;">如需返回请
					    <a href='/' style = 'color: white;'>
							点击此处
						</a>
						或者扫描左侧二维码
					</h5>
				</div>
			</div>
		</div>
	</div>
<!-- partial -->
  <script  src="./js/script.js"></script>

</body>
</html>
