<!-- 主页，文章列表 -->
{% extends 'base.html' %}  {# 继承基类页面base.html模板 #}
{% block content %}

    <div class="col-sm-9 col-12" style="border: none; padding: 0px;">
        <!-- 轮播图 -->
        <div class="col-12 d-none d-sm-block" style="border: none; padding: 15px 0px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/banner_1.jpg" class="d-block w-100" alt="第一张" style="width:100%; height: 300px;">
                </div>
                <div class="carousel-item">
                    <img src="/img/banner_2.jpg" class="d-block w-100" alt="第二张" style="width:100%; height: 300px;">
                </div>
                <div class="carousel-item">
                    <img src="/img/banner_3.jpg" class="d-block w-100" alt="第三张" style="width:100%; height: 300px;">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- 文章展示 -->
        <div class="row article" style="height: 120px; border: solid 1px gray; margin: 10px 0px;">
            <!-- 文章展示图 -->
            <div class="col-sm-3 hidden-xs article-thumb">
                <img src="" class="img-fluid">
            </div>
            <div class="col-sm-9 col-12 ">
                <!-- 文章题目 -->
                <div class="article-title">
                    <a href="#">文章题目</a>
                </div>
                <!-- 文章信息 -->
                <div class="article-info">作者：时间：</div>
                <!-- 文章内容概述 -->
                <div class="article-intro">正文</div>
            </div>
        </div>
        <div class="col-12" style="height: 120px; border: solid 1px gray; margin: 10px 0px;">1</div>
        <div class="col-12" style="height: 120px; border: solid 1px gray; margin: 10px 0px;">1</div>
        <div class="col-12" style="height: 120px; border: solid 1px gray; margin: 10px 0px;">1</div>
        <div class="col-12" style="height: 120px; border: solid 1px gray; margin: 10px 0px;">1</div>
    </div>

    {# 按需引入侧边栏sidebar.html #}
    {% include 'sidebar.html' %}

{% endblock %}