    <!-- 侧边栏 -->
<div class="col-sm-3 col-12" style="border: none; padding-right: 0px;">
    <!-- 文章推荐栏 -->
    <div class="col-12 side">
        <div class="side-title">文章推荐</div>
        <ul>
            <li><a href="#">1.aaa</a></li>
            <li><a href="#">1.aaa</a></li>
            <li><a href="#">1.aaa</a></li>
            <li><a href="#">1.aaa</a></li>
            <li><a href="#">1.aaa</a></li>
            <li><a href="#">1.aaa</a></li>
            <li><a href="#">1.aaa</a></li>
        </ul>
    </div>
    <div class="col-12 side">1</div>
    <div class="col-12 side">2</div>
    <div class="col-12 side" style="height: 400px; border: solid 1px gray; margin: 20px 0px;">3</div>
</div>