{% extends 'base.html' %}  {# 继承基类页面base.html模板 #}
{% block content %}

    <div class="col-sm-9 col-12" style="border: none; padding: 0px;">
                    
        <!-- 文章头 -->
        <div class="col-12 row article-header">
            <!-- 标题和详情 -->
            <div class="col-sm-9 col-12 article-title">
                <div class="col-12"><h1>文章标题</h1></div>
            </div>
            <!-- 收藏按钮 -->
            <div class="col-sm-3 col-12 article-favorite">
                <label><span class="oi oi-heart" aria-hidden="true"> 收藏本文</span></label>
            </div>
            <div class="col-12 article-info">文章信息</div>
        </div>
        
        <!-- 文章体 -->
        <div class="col-12 row article-body">
            <!-- 文章内容 -->
            <div class="col-12 article-content">
            文章内容
            </div>
            <!-- 文章翻页 -->
            <div class="col-12 article-flip">
                <div>版权所有</div>
                <div>上一篇：
                    <a href=""></a>
                </div>
                <div>下一篇：
                    <a href=""></a>
                </div>
            </div>
        </div>
        
        <!-- 评论区 -->
        <div class="col-12 row article-comment">

            <!-- 昵称输入 -->
            <div class="nick col-12 row">
                <div class="col-sm-2 col-12">
                    <label for="yournick">你的昵称：</label>
                </div>
                <div class="col-sm-10 col-12">
                    <input type="text" id="yournick" class="form-control" />
                </div>
            </div>

            <!-- 评论输入 -->
            <div class="comment col-12 row">
                <div class="col-sm-2 col-12">
                    <label for="yourcomment">你的评论：</label>
                </div>
                <div class="col-sm-10 col-12">
                    <textarea class="form-control" id="yourcomment" style="height: 100px;"></textarea>
                </div>
            </div>
            
            <div class="col-12 comment-button">
                <div class="col-12" style="text-align: right">
                    <button class="btn btn-primary">发表评论</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}